<?xml version="1.0" encoding="UTF-8"?>

<freesm>
	<bot>
		<botNode>
			<path>
				/Users/shantkarakashian/node/local/Node
			</path>

			<algod>
				<address>
					http://127.0.0.1
				</address>
				<port>
					54095
				</port>
				<token>
					dbb134f8cffa1b2dfac5af493e6487f1b2a8a05af6489191684d79cfb9467891
				</token>
			</algod>

			<botwallet>
				<name>botwallet</name>
				<pasword>botwallet</pasword>

				<kmd>
					<address>
						http://127.0.0.1
					</address>
					<port>
						7833
					</port>
					<token>
						98cb126e8a59ecb79c8bb7f6915c9d52b23b2e0a22ca16ef18db672158726caa
					</token>
				</kmd>


				<publickey>

				</publickey>

				<secretkey>
				</secretkey>

				<mnemonic>
				</mnemonic>
			</botwallet>
		</botNode>
	</bot>
</freesm>